.todo {
    background-color: white;
    border: 3px solid rgb(248, 248, 248);
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
}

.drag-area {
    min-height: 500px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
}

.draggableDiv {
    display: flex;
    justify-content: center;
    margin-left: 250px;
}


.bo_title {
    margin-bottom: 8px;
}

#todo {

    padding-bottom: 20px;
}

#inProgress {

    padding-bottom: 20px;
}

#awaitFeedback {

    padding-bottom: 20px;
}

#done {

    padding-bottom: 20px;
}

.tester {
    font-size: x-large;
}

.section {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    color: white;
    text-align: center;
}

.title {
    font-size: large;
    color: #005DFF;
}

.description {
   opacity: 0.5;
}

.dragHeadline {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}