.todo {
    background-color: white;
    border: 3px solid rgb(248, 248, 248);
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.drag-area {
    min-height: 500px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;


}

.draggableDiv {
    display: flex;
    justify-content: center;
    margin-left: 250px;
}


.bo_title {
    margin-bottom: 8px;
}

#todo {

    padding-bottom: 20px;
}

#inProgress {

    padding-bottom: 20px;
}

#awaitFeedback {

    padding-bottom: 20px;
}

#done {

    padding-bottom: 20px;
}

.tester {
    font-size: x-large;
}

.section {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    color: white;
    text-align: center;
}

.title {
    font-size: large;
    color: #005DFF;
}

.description {
   color: grey;
}

.dragHeadline {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.rightSection {
    display: flex;
    flex-direction: column;
}

.searchField {
    display: flex;
    height: 40px;
    width: 200px;
    margin-left: 300px;
    border-radius: 10px;
    background-image: url(../assets/img/searchPlaceholder.png);
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: right;
    margin-top: 40px;
    
}

.popUp {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.d-none {
    display: none;
}

.addBtn {
    display: flex;
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;
    background-color: #4589FF;
    font-size: large;
}

.searchSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 480px) {
    html {
        max-width: 480px;
    }

    .rightHeader p {
        display: none;
    }

    .questionMark {
        display: none;
    }

    .rightSection {
        display: flex;
        flex-direction: column !important;
    }
    .searchSection {
        flex-direction: column;
    }
    .searchField {
        margin-left: 10px;
    }

    .draggableDiv {
        flex-direction: column;
        margin-left: 0px !important;
    }
    .drag-area {
        min-height: auto !important;
    }
    .todo {
        width: 300px;
        height: 200px;
    }
    .menuSection {
        
        flex-direction: row !important;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(240, 240, 240);
        gap: 0px !important;
        opacity: 1;
        height: 50px;
        padding-top: 20px !important;
    }
    .menuSection a {
        padding: 0px !important;
        gap: 0px !important;
        justify-content: center;
        align-items: center;
    }
    .container {
        box-shadow: none !important;
    }
}