body {
    scroll-behavior: smooth;

}

.todo {
    background-color: white;
    border: 3px solid rgb(248, 248, 248);
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    min-width: 200px;
    min-height: 200px;
}

.drag-area {
    min-height: 500px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
}

.draggableDiv {
    display: flex;
    justify-content: center;
    margin-left: 250px;
}


.title {
    margin-bottom: 8px;
}

#todo {

    padding-bottom: 20px;
}

#inProgress {

    padding-bottom: 20px;
}

#awaitFeedback {

    padding-bottom: 20px;
}

#done {

    padding-bottom: 20px;
}

.tester {
    font-size: x-large;
}

.section {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    color: white;
    text-align: center;
}

.title {
    font-size: large;
    color: #4589FF;
}

.description {
   color: grey;
}

.dragHeadline {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.rightSection {
    display: flex;
    flex-direction: column;
}

.searchField {
    display: flex;
    height: 40px;
    width: 200px;
    margin-left: 300px;
    border-radius: 10px;
    background-image: url(../assets/img/searchPlaceholder.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: rgba(225, 225, 225, 0.5);
    background-position: right;
    margin-top: 194px;
    
}

.popUp {
  /*  position: fixed;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    height: 37rem;
    margin-left: 500px;
    width: 77vh;
    top: 60px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    animation: showPopup ease-in-out 150ms; */
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.7);
}

.popUpTodoInfo {
    position: fixed;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    height: 37rem;
    margin-left: 500px;
    width: 77vh;
    top: 60px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    animation: showPopup ease-in-out 150ms;
    opacity: 1 !important;
}

.popUpFull {
    background-color: white;
}

.taskPopUp {
    position: fixed;
    width: 400px;
    height: 100vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(252, 252, 252);
    top: 0px;
    right: 0px;

}

.d-none {
    display: none !important;
}

.addBtn {
    display: flex;
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 192px;
    margin-left: 30px;
    text-align: center;
    background-color: #4589FF;
    font-size: large;
    cursor: pointer;
    border: none;
}

.taskPopUpTitle {
    height: 200px;
    width: 200px;
    background-color: red;
}

.searchSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    display: flex;
    background-color: orange;
    border-radius: 7px;
    width: 100px;
    color: white;
    font-size: medium;
    text-align: center;
    height: 23px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
}

.titlePopup {
    display: flex;
    text-align: start;
    margin-left: 30px;
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bolder;
}

.descriptionPopup {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
    padding-right: 20px;
}

.dueDatePopup {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}

.assignPopup {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.priorityPopup {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}

.closeBtn {
    display: flex;
    margin-left: 490px;
    margin-top: -320px;
    background-color: white;
    cursor: pointer;
    border: none;
    
}

.editTask {
    height: 40px;
    width: 40px;
    background-color: #4589FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 455px;
    margin-left: 476px;
    cursor: pointer;
}


.closeSideTask {
    border: none;
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-left: 350px;
    cursor: pointer;

}

h2 {
    margin-left: 24px;
    font-size: 40px;
}

.taskPopUpHead {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.createTaskBtn {
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4589FF;
    font-size: medium;
    cursor: pointer;
    border: none;
    margin-right: 30px;
}

@keyframes showPopup {
    0% {
        opacity: 0;
        scale: 0.5;
    } 50% {
        opacity: 0;
        scale: 0.8;
    } 100% {
        opacity: 1;
        scale: 1;
    }
}

/*---------------------------*/

@media (max-width: 480px) {
    html {
        max-width: 480px;
    }

    .rightHeader p {
        display: none;
    }

    .questionMark {
        display: none;
    }

    .rightSection {
        display: flex;
        flex-direction: column !important;
    }
    .searchSection {
        flex-direction: column;
    }
    .searchField {
        margin-left: 10px;
    }

    .draggableDiv {
        flex-direction: column;
        margin-left: 0px !important;
    }
    .drag-area {
        min-height: auto !important;
    }
    .todo {
        width: 300px;
        height: 200px;
    }
    .menuSection {
        
        flex-direction: row !important;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(240, 240, 240);
        gap: 0px !important;
        opacity: 1;
        height: 80px;

    }
    .menuSection a {
        padding: 0px !important;
        gap: 0px !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        box-shadow: none !important;
    }

    .header {
        max-width: 480px !important;
    }

    .legalSection {
        display: none !important;
    }
    aside {
        display: flex !important;
    }
    .s_container {
        display: none !important;
    }

    .popUp {
        margin-left: 10px !important;
        width: 49vh;
    }

    .closeBtn {
        margin-left: 244px;
        margin-top: -328px;
    }
    .editTask {
        margin-left: 240px;
    }

}