/*****************************
 *  Headlines  & text        *
******************************/
p {
  margin: 1rem 0rem;
}

/*****************************
 *  Gallery  (all images)    *
******************************/

/*****************************
 *  Site     Structre)       *
******************************/

/*====================================== 
 * Section: Impressum
 *======================================*/

.impressum_page {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  top: 100px;
  left: 240px;
  padding: 0px;
  margin: 1.5rem 0rem 0rem 5.5rem;
  gap: 25px;
}
/* End of Impressum
   ===============================*/

/******************************************
+ JUST FOR SMARTPHONES
/******************************************/

@media (max-width: 880px) {
  /***********************
   * scrollbar ausblenden
   */

  body {
    /*scrollbar ausblenden*/
    -ms-overflow-style: none;

    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
  }

  /* for Chrome, Safari, and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  aside {
    display: none;
  }

  footer {
    display: block !important;
  }

  .impressum_page {
    align-items: center;
    width: 100%;
    top: 100px;
    left: 0px;
    padding: 1rem;
    margin: 1.5rem auto 0rem;
    gap: 25px;
    text-align: center;
  }
}
/******************************************
  + END of JUST FOR SMARTPHONES
  /******************************************/
