.header {
    background-color: rgb(69, 137, 255);
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 39px;
    gap: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .headerLogo {
    width: 47px;
    height: 57.3px;
  }

  .header p {
    color: white;
    font-size: larger;
    /* margin-right: 25px; */
  }

  .rightHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }

  .questionMark {
    height: 25px;
    width: 25px;
    /* margin-right: 20px; */
    cursor: pointer;
  }

  .headerPb {
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 100%;
    cursor: pointer;
  }