<div class="container">
  <div class="menuSection">
    <a href="summary.html">
        <div><span class="icon icon-SummaryLogo"></span></div>
        Summary
    </a>
    <a href="board.html">
      <div><span class="icon icon-BoardLogo"></span></div>
      Board
    </a>
    <a href="addTask.html">
      <div><span class="icon icon-AddTaskLogo"></span></div>
      Add Task
    </a>
    <a href="contacts.html">
      <div><span class="icon icon-ContactsLogo"></span></div>
      Contacts
    </a>
  </div>
</div>
