<div class="container">
  <div class="menuSection">
    <a href="summary.html">
        <div><img src="./assets/img/SummaryLogo.svg" /></div>
        Summary
    </a>
    <a href="board.html">
        <div><img src="./assets/img/BoardLogo.svg" /></div>
        Board
    </a>
    <a href="addTask.html">
        <div><img src="./assets/img/AddTaskLogo.svg" /></div>
        Add Task
    </a>
    <a href="contacts.html">
      <div><img src="./assets/img/ContactsLogo.svg" /></div>
      Contacts
    </a>
  </div>
</div>
